@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  height: 40px;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
}
header nav ul li {
  display: inline-block;
}
header nav ul li:hover {
  border-bottom: 3px solid rgb(102, 102, 102);
  transition: 2s;
}
.search {
  position: absolute;
  top: 20px;
  left: 430px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}
.menu {
  list-style-type: none;
  top: 2px;
  float: right;
  font-size: 11px;
  color: black;
}
ul {
  list-style: none;
  float: right;
}
a {
  text-decoration: none;
  font-size: 11px;

  margin: 3px;
  float: right;
  top: 2px;
  margin-top: -15px;
  margin-right: 5px;
}
li {
  display: inline;
  float: right;
  top: 2px;
}
.navigation {
  width: 200px;
  height: 30px;
  right: 20px;
  top: 5px;
  position: absolute;
}
.wrapper {
  height: 5vh;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  color: #000;
  max-width: 1440px;
}

.arrow {
  width: 60px;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 60px);
  animation: arrowDown 2s infinite;
  transform: rotate(90deg);
}

@keyframes arrowDown {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: 30px;
  }
}

.mainphoto {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0px;
}
.space {
  position: absolute;
  right: 0px;
  top: 325px;
  width: 400px;
  height: 400px;
}

.textmain {
  position: absolute;
  left: 270px;
}

.banner {
  width: 100%;
  height: 657px;
  background-color: #fff;
  padding-bottom: 10vh;
  color: white;
}

.container {
  width: 100%;
  margin: 0 auto;
}
.create-line1 {
  position: absolute;
  top: 732px;
  /* width: 100%; */
  width: 1510px;
  border-top: 1px solid #2e3031;
}
.ourrespect {
  position: absolute;
  width: 70%;
  height: 100%;
  left: 250px;
}
.respect {
  width: 1440px;
  height: 640px;
}

.preimushestvo {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  top: 1em;
  margin-left: 100px;
  font-family: Roboto Condensed, sans-serif;
}

.containerresp1 {
  display: flex;
  width: 90vw;
  height: 20vh;
  justify-content: space-around;
  margin-left: 70px;
  margin-top: 10px;
}

.respectimg {
  position: relative;
  left: 10px;
  top: -10px;
  width: 400px;
  height: 600px;
}

.itemresp1 {
  width: 35%;
  height: calc(80vh - 80px);
  border: 0.1px solid rgb(193, 192, 192);
  border-radius: 30px;
  margin-left: 1em;
}
.itemin1 {
  display: absolute;
  width: 52%;
  height: calc(80vh - 240px);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30px;
  margin-left: 6em;
  margin-top: 1em;
  -webkit-box-shadow: 4px 4px 28px 0px rgba(34, 60, 80, 0.2);
}
.iteminimg1 {
  display: flex;
  width: 230px;
  height: 300px;
}

.iteminimg2 {
  display: flex;
  width: 250px;
  height: 300px;
}
.respitemtype1 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 4.5em;
  margin-top: 0.5em;
}
.respitemtype2 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 1.5em;
  margin-top: 0.5em;
}
.button {
  width: 280px;
  height: 40px;
  border-radius: 20px;
  margin-left: 6em;
  margin-top: 1em;
  background-color: #fff;
  transition: 1s;
}
button:hover {
  background-color: rgb(101, 84, 255);
}

.create-line2 {
  position: absolute;
  top: 1363px;
  width: 1510px;
  border-top: 1px solid #2e3031;
}
.catalog {
  width: 1200px;
  height: 700px;
  margin-left: 120px;
  margin-right: 400px;
}
.Uznatbolshe {
  display: flex;
  width: 1400px;
  height: 40px;
  background: rgba(175, 242, 255, 1);
  margin-left: -30px;
}
.viewall {
  display: flex;
  /*font-family: Roboto Condensed,sans-serif;
    font-weight: 300;
    font-size: 14px; */
  margin-left: 48em;
  /*line-height: 16px;*/
  margin-top: 0.5em;
}
.arrowall {
  display: flex;
  width: 80px;
  height: 20px;
  margin-left: -30px;
  margin-top: -0.18em;
}
.viewall1 {
  display: flex;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 300;
  font-size: 12px;
  /* margin-left: 56em;
    line-height: 16px;
    margin-top:0.5em; */
}

.OKS {
  display: flex;
  margin-left: 2em;
  margin-top: 0.4em;
  font-family: Roboto Condensed, sans-serif;
  font-weight: bold;
}
.elevatestyle {
  display: flex;
  margin-left: 0em;
  margin: 0.4em;
  font-family: Roboto Condensed, sans-serif;
  font-weight: lighter;
}

.catalogtytle {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  top: 1em;
  margin-left: 1.1em;
  font-family: Roboto Condensed, sans-serif;
  margin-top: 2em;
}
.Hottestgbrands {
  display: flex;
  justify-content: space-around;
  margin: 2px;
  width: 180px;
  height: 180px;
}

.brand {
  display: flex;
  justify-content: space-around;
  margin: 2px;
  width: 200px;
  height: 280px;
  margin-left: 0em;
  margin-top: 1em;
}
.brand1 {
  display: flex;
  justify-content: space-around;
  margin: 2px;
  width: 200px;
  height: 280px;
  margin-left: 0.8em;
  margin-top: 0em;
  transition: transform 0.2s;
}
.brand1:hover {
  transform: scale(1.01);
}
.viewallbrands {
  display: flex;
  margin-left: -5em;
  padding-top: 0.1em;
}
.arrowview1 {
  display: flex;
  width: 80px;
  height: 20px;
  margin-left: -30px;
  padding-top: 0.1em;
}
.viewallbrands1 {
  display: flex;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.AboutKiaStoree {
  display: flex;
  position: relative;
  width: 1330px;
  height: 200px;
  background: linear-gradient(
    0deg,
    rgba(247, 247, 255, 1) 1%,
    rgba(175, 242, 255, 1) 35%
  );
  margin-bottom: 1px;
}
.create-line33 {
  position: absolute;
  top: 2050px;
  width: 1510px;
  border-top: 1px solid #2e3031;
}

footer {
  width: 1521px;
  height: 300px;
  background-color: #ffffff;
}
.bannerfoot {
  display: flex;
  width: 100px;
  height: 150px;
  margin-top: 70px;
  margin-left: 100px;
}
.foottype1 {
  display: flex;
  margin-left: 500px;
  margin-top: 70px;
}

h1,
h2,
p {
  margin: 0;
}
